<html>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/js/index.js"></script>
<body>
	<div class="container">
		<h5 style="text-align: center; font-weight: 700; font-size: 30px;">Display Mongoose</h5>
		<table class="table">
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td> <%= mongoose.id %></td>
		      <td><%= mongoose.name %></td>
		      <td><%= mongoose.description %></td>
		      <td><%= moment(mongoose.createdAt).format('Do MMMM, YYYY'); %></td>
		      <td><a href="/">Back</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>
</body>
</html>
